<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Blog</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the Blog</h1>
    </header>
    <div class="container">
        <div class="buttons">
            <a href="/login"><button>Admin</button></a>
            <a href="/home"><button>User</button></a>
        </div>
    </div>
</body>
</html>